<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
        <div>
            @Html.ActionLink("SignUp", "SignUp", "User")
            @Html.ActionLink("SignaIn", "SignIn", "User")
            @RenderBody()
        </div>
</body>
</html>
