@model OnilneFlightBooking.Entity.UserEntity

@{
    ViewBag.Title = "SignIn";
}


@if (TempData["message"] != null)
{
    @Html.Label((string)TempData["message"])
}
<h2>SignIn</h2>
@using (Html.BeginForm("SignIn", "User", FormMethod.Post))
{
    <table>
        <tr>
            <td>Mobile Number</td>
            <td>@Html.TextBox("Mobile")</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>@Html.TextBox("Password")</td>
        </tr>
    </table>
    <a>
        <input type='submit' value='Login' />
    </a>

    <a href='@Url.Action("SignUp", "User")'>
        <input type='button' value='Register' />
    </a>
}
